.DS_Store
/node_modules/
/src/node_modules/@sapper/
yarn-error.log
/cypress/screenshots/
/__sapper__/
*.log
packages/ellipsis/scripts
packages/ellipsis/src
packages/ellipsis/README.md
packages/ellipsis/public
packages/ellipsis/node_modules
packages/ellipsis/.vscode
packages/ellipsis/.git