.head_block
	display: flex
	flex-direction: column
	padding: 50px 15px

.logo_block
	display: flex
	flex-direction: column
	align-items: center
	margin-bottom: 30px

.logo
	max-width: 210px
	margin-bottom: 15px

.logotype
	max-width: 310px

.h1
	text-align: center
	color: #000000
	margin-bottom: 30px

.subheader
	text-align: center
	color: #000000
	max-width: 345px
	align-self: center

.avatar
	display: block
	height: 120px
	width: 120px
	border-radius: 100%