@define-mixin shadow
  box-shadow:
    0px 3px 6px rgba(212, 221, 254, 0.61),
    0px 8px 13px rgba(212, 221, 254, 0.54)

@define-mixin cards_decor__withe
  border-radius: var(--radius--block)
  border: solid 1px var(--color--borders---card-white)
  background-color: var(--color--bg--card)
  @mixin shadow
